.navbar-header {
    width: 100vw;
}


.navList {
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
